<button id="refreshJobs" class="btn btn-info pull-right" ng-click="refreshJobs()">
    <span class="glyphicon glyphicon-refresh"></span>
</button>
<div ng-if="visibleJobs.length > 0">
    <nav class="text-center" ng-if="pageNumbers.length > 1">
        <ul class="pagination">
            <li class="pointer" ng-class="{disabled: currentPage === 1}">
                <a id="prevPageLink" ng-click="prevPage()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li id="{{index}}PageLink" class="pointer" ng-repeat="index in pageNumbers" ng-click="goToJobPage(index)" ng-class="{active: currentPage === index}"><a>{{index}}</a>
            </li>
            <li class="pointer" ng-class="{disabled: currentPage === pageNumbers.length}">
                <a id="nextPageLink" ng-click="nextPage()" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 40%;">
                    Job ID
                </th>
                <th style="width: 20%;">
                    Type
                </th>
                <th style="width: 20%;">
                    State
                </th>
                <th style="width: 20%;">
                    Date Created
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="goViewJobBtn" ng-repeat="job in visibleJobs" class="pointer" ng-click="goViewJob(job)">
                <td>
                    <span>{{job.id}}</span>
                </td>
                <td>
                    <span>{{job.itemKind}}</span>
                </td>
                <td>
                    <span>{{job.state}}</span>
                </td>
                <td>
                    <span>{{job.createdDate}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p ng-show="visibleJobs.length == 0" class="side-padding">No jobs in this state</p>