<!DOCTYPE html>
<html lang="en" ng-app="ImageManagementSample" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Image Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="css/app.css" />
</head>

<body ng-controller="NavigationCtrl" class="container-fluid">
    <header id="header" class="row padding-bottom">
        <div class="navbar navbar-fixed-top im-header" rfole="navigation">
            <div class="container-fluid">
                <button id="logOut" class="btn btn-link pull-right" ng-if="location.path() !== '/login'" ng-click="logOut()">Log Out</button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="" style="width: 350px;">
                        <img class="img-responsive" src="img/akamai-IM-logo.png">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right nav-menu">
                    <li style="padding: 20px;">
                        <a href="" class=" btn btn-default" ng-click="toggleMobileMenu()">
                            <span class="glyphicon glyphicon-th-list" style="font-size: 1.5em;"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mobile-menu" class="hidden nav-menu collapse" style="margin-top: 100px">
            <ul class="list-group">
                <a id="imagesMobileTabLink" class="list-group-item dull-header" ng-click="goImages()">Images</a>
                <a id="imageCollectionMobileTabLink" class="list-group-item dull-header" ng-click="goImageCollectionCreator()">Image Collections</a>
                <a id="policyMobileTabLink" class="list-group-item dull-header" ng-click="goPolicyCreator()">No Touch Policies</a>
                <a id="ReadyForWebSetupMobileTabLink" class="list-group-item dull-header" ng-click="goRFWSetup()">Ready For Web Setup</a>
                <a id="ReadyForWebPoliciesMobileTabLink" ng-show="false" class="list-group-item dull-header" ng-click="goRFW()">Ready For Web Policies</a>
            </ul>
        </div>
    </header>

    <main id="main-content" class="row content main-content">
        <!-- Side Nav Menu, only visible if lunaToken entered -->
        <div ng-if="location.path() !== '/login'" class="col-md-2 navigator">
            <ul class="list-group" style="list-style-type: none;">
                <li class="pointer">
                    <a id="imagesTabLink" class="list-group-item list-group-item-nav" ng-class="{active: location.path() === '/images'}" ng-click="goImages()">
                        <span class="glyphicon glyphicon-th nav-icon"></span> Images
                    </a>
                </li>
                <li class="pointer">
                    <a id="imageCollectionsTabLink" class="list-group-item list-group-item-nav" ng-class="{active: location.path() === '/imagecollections'}" ng-click="goImageCollections()">
                        <span class="glyphicon glyphicon-folder-open nav-icon"></span> Image Collections
                    </a>
                </li>
                <li class="pointer">
                    <a id="policiesTabLink" class="list-group-item list-group-item-nav" ng-class="{active: location.path() === '/policy'}" ng-click="goPolicyCreator()">
                        <span class="glyphicon glyphicon-list-alt nav-icon"></span> Real Time Policies
                    </a>
                </li>
                <li ng-if="!isRFWEnabled" class="pointer">
                    <a id="ReadyForWebSetupTabLink" class="list-group-item list-group-item-nav" ng-class="{active: location.path() === '/rfwsetup'}" ng-click="goRFWSetup()">
                        <span class="glyphicon glyphicon-cloud nav-icon"></span> Ready For Web Setup
                    </a>
                </li>
                <li ng-if="isRFWEnabled" class="pointer">
                    <a id="ReadyForWebSetupTabLink" class="list-group-item list-group-item-nav" ng-class="{active: location.path() === '/rfwsetup'}" ng-click="goRFWSetup()">
                        <span class="glyphicon glyphicon-cloud nav-icon"></span> Ready For Web
                    </a>
                </li>
                <li class="pointer" ng-show="isRFWEnabled">
                    <a id="ReadyForWebPoliciesTabLink" class="list-group-item list-group-item-nav" ng-class="{active: location.path() === '/rfwpolicies'}" ng-click="goRFW()">
                        <span class="glyphicon glyphicon-picture nav-icon"></span> RFW Policies
                    </a>
                </li>
            </ul>
        </div>
        <div ng-class="{true: 'col-sm-12 col-md-10 col-md-offset-2', false: 'col-md-4 col-md-offset-4 padding-top'}[location.path() !== '/login']">
            <div class="panel panel-default step-spacing">
                <div class="panel-heading">
                    <h3 class="panel-title">{{getHeading()}}</h3>
                </div>
                <div class="panel-body" ng-view>

                </div>
            </div>
        </div>
    </main>
    <hr>
    <footer>
        <p class="text-center info-text">Akamai Technologies Version {{versionNo}}</p>
    </footer>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/configuration.js"></script>
    <script src="js/services/api-connector.js"></script>
    <script src="js/services/authentication.js"></script>
    <script src="js/services/resource-factory.js"></script>
    <script src="js/services/system-constants.js"></script>
    <script src="js/controllers/auth-controller.js"></script>
    <script src="js/controllers/navigation-controller.js"></script>
    <script src="js/controllers/policies-controller.js"></script>
    <script src="js/controllers/image-controller.js"></script>
    <script src="js/controllers/imagecollection-controller.js"></script>
    <script src="js/controllers/readyforweb-setup-controller.js"></script>
    <script src="js/controllers/readyforweb-policies-controller.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>

</html>