<div class="modal fade" id="productProgress">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Product Processing Progress</h3>
            </div>
            <div class="modal-body" style="max-height: 550px; overflow: scroll">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <h4>Legend</h4>
                        <div style="display:table">
                            <canvas class="success-swatch"></canvas>
                            Passed - Number of images that have been successfully transformed
                        </div>
                        <div style="display:table">
                            <canvas class="pending-swatch"></canvas>
                            Pending - Number of images waiting to be processed
                        </div>
                        <div style="display:table">
                            <canvas class="failed-swatch"></canvas>
                            Failed - Number of images that were unable to be transformed.
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row" ng-if="batchConfirmation.showStatus" ng-repeat="(productId, batchConfirmation) in processingProducts">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <h4>
                                Product Batch ID: {{batchConfirmation.batchId}}
                            </h4>
                            <p>
                                <strong>Product ID: {{batchConfirmation.productId}}</strong>
                            </p>
                            <span>Passed: {{batchConfirmation.numPassed}}</span>
                            <br>
                            <span>Pending: {{batchConfirmation.numPending}}</span>
                            <br>
                            <span>Failed: {{batchConfirmation.numFailed}}</span>
                            <br>
                            <span>Total: {{batchConfirmation.totalImageCount}}</span>
                            <br>
                            <bulk-status show="batchConfirmation.showStatus" total="batchConfirmation.totalImageCount" passed="batchConfirmation.numPassed" pending="batchConfirmation.numPending" failed="batchConfirmation.numFailed"></im-bulk-status>
                        </div>

                        <div ng-if="batchConfirmation.batchErrors !== null" class="row">
                            <p>Error Count: {{batchConfirmation.batchErrors.errorCount}}</p>
                            <ul>
                                <li ng-repeat="errorRes in batchConfirmation.batchErrors.imagesInError">Image ID: {{ errorRes.imageId }} - Reasons: {{errorRes.errors}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeProgressBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>