<div class="modal fade" id="show-error">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Error</h3>
            </div>
            <div class="modal-body" style="max-height: 550px; overflow: scroll">
                <p value="errorDetails"></p>
                {{errorDetails}}
            </div>
            <div class="modal-footer">
                <button id="closeErrorBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>